import React from 'react';
import {renderReact, Text} from '@shopify/argo-checkout';

renderReact('Checkout::PostPurchase::Render', (props) => (
  <Extension {...props} />
));

function Extension() {
  return <Text>Create your awesome offer page here.</Text>;
}
