import {extend, Text} from '@shopify/argo-checkout-testing';

extend('Checkout::PostPurchaseCrossSell::Render', (root, input) => {
  const text = root.createComponent(Text);
  text.appendChild('Create your awesome offer page here.');

  root.appendChild(text);
  root.mount();

  return {};
});
